<template name="aboutUs">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h3>Who Are We</h3>
						<p>We are a young, dynamic, energetic team that has a multi skilled members who have education and working experineces in Europe, China and North America. We have working experiences in procurement management, ECommerce, marketing, IT and sourcing.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h3>Why ALIDEALZONE</h3>
						<p>A lot SME and consumers in North American  are not able to benefit the low cost/high quality Made in China products because they don't have the procurement capacity or buying experience as big corporation and savvy buyer. We decide to take this small step to fill this gap</p>
					</div>
				</div>

			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h3>Our Vision</h3>
						<p>We are striving to build a stronger community by sharing the shopping experience, introducing the latest news and deals, bridging the vendor and supplier, communicating the thoughts and feedback. This community will bring the VALUE to all parties.</p>
					</div>
				</div>

			</div>
		</div>
		</div>
	</template>