<template name="reliableWebstore">
	<div class="container">
		
		<div class="list-group">
			<a href="#" class="list-group-item active">
				Retail WebStore
			</a>
			<a href="http://www.aliexpress.com/"  target="_blank" class="list-group-item">AliExpress</a>
			<a href="http://www.dx.com/"  target="_blank" class="list-group-item">DealExtreme</a>
			<a href="http://www.focalprice.com/"  target="_blank" class="list-group-item">Focalprice</a>
			<a href="http://www.geekbuying.com/"  target="_blank" class="list-group-item">Geekbuying</a>
			
		</div>
		<hr>
		<div class="list-group">
			<a href="#" class="list-group-item active">
				WholeSale WebStore
			</a>
			<a href="http://www.alibaba.com/"  target="_blank" class="list-group-item">Alibaba</a>
			<a href="http://www.volumerate.com/"  target="_blank" class="list-group-item">Volumerate</a>
			<a href="http://www.dhgate.com/"  target="_blank" class="list-group-item">DHgate</a>
			<a href="https://www.chinavasion.com/" target="_blank"  class="list-group-item">ChinaVasion</a>
			
		</div>
	</div>
</template>